body {
    background-image: url("assets/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
     background-blend-mode: multiply;
    background-color: #0c0357;
    margin: 0;
    padding: 0;
}

.introbox {
    border-color: #00055a;
    border-radius: 15px;
    border-style: solid;
    background-color: teal;
    padding: 20px;
    margin: 50px;
    text-align: center;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;

}

.navBar {
    background: rgba(63, 106, 199, 0.37);
    border-bottom: 1px solid rgba(63, 106, 199, 0.3);
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .loogo img{
    display: flex;
    height: auto;
    width: 100px;
    display: inline-block; 
    margin: 7px;
 }

 .loogo img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    color: #fff7db;
    mix-blend-mode: lighten;
 }

 .navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
 }

 .navLinks li a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color:#fdd44e;
    transition: 0.5s;
    margin-right: 48px;
 }

 .navLinks li a:hover {
    color:#fff8db;
    text-shadow: 0 0 10px #fff8db;
    font-size: 22px;
 }

.charactergridcontainer {
    border-color: #000bd3;
    border-style: solid;
    background-color: rgba(150, 155, 255, 0.8);
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.charactersection {
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    margin: 20px;
    padding: 10px;
    margin-top: 1px;
    text-align: center;
    max-width: 300px;
    background-color:aqua;

}

.charactergrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;                   
    padding: 20px;
}


.charactergrid > div {
    background: #6a0c7c;         
    border: 2px solid #eeff59;    
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
