body {
    background-image: url("assets/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: #0c0357;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Coromant Garamond', serif;
    color: #ff9417;
    background-color: #1c2e42;
    padding: 7px;
    margin: 5px;
    border-radius: 15px;
}

p {
    text-align: center;
    color: #ffd138;
    font-family: 'Coromant Garamond', 'Courier New';
    margin: 20px;
    text-align:justify;
    text-justify: inter-word;
    hyphens: auto;
}

.line {
    width: 100%;
    border-top: 2px solid #ff9417;
    margin: 0;
}

h4 {
    text-align: center;
    color: #ffeeb8;
    font-family: 'Coromant Garamond', 'Courier New';
    margin: 5px;
}

.container {
    max-width: 870px;
    margin: auto;
    border-color: #010d1f;
    border-radius: 15px;
    border-style: solid;
    background-color:  #010d1f;
    padding-top: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    justify-self: center;
}
.welcomebox {
    border-color: #1c2e42;
    background-color: #1c2e42;
    margin: 5px;
    padding: 10px;
    border-style: solid;
    text-align: center;
    border-radius: 15px;

}
.charactergrid {
    border: #042c38;
    background:#1c3352;
    margin: 0;
    padding: 10px;
    align-items: stretch;
    gap: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
}

#quote {
    font-style: italic;
    font: 30px 'Papyrus', sans-serif;
    text-align: center; 
    color:darkorange;
    text-decoration: italic;
    margin: 20px;

}
.welcomebox h2 { 
    text-align: center;
    margin:5px;
    color: #ff9417;
    font-family: 'Coromant Garamond', 'Courier New';
}
.container img {
    width: 95%;
    display: block;
    border-radius: 15px;
    align-self: center;
 }
 .navBar {
    background: rgba(63, 106, 199, 0.37);
    border-bottom: 1px solid rgba(63, 106, 199, 0.3);
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .loogo img{
    display: flex;
    height: auto;
    width: 100px;
    display: inline-block; 
    margin: 7px;
 }

 .loogo img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    color: #fff7db;
    mix-blend-mode: lighten;
 }

 .navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
 }

 .navLinks li a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color:#fdd44e;
    transition: 0.5s;
    margin-right: 48px;
 }

 .navLinks li a:hover {
    color:#fff8db;
    text-shadow: 0 0 10px #fff8db;
    font-size: 22px;
 }

@media screen and (max-width:400px) {
    .container { 
        flex: 100%;
    }
}

.FirstChapter {
    max-width: 870px;
    margin: auto;
    border-color: #1c3352;
    border-radius: 15px;
    border-style: solid;
    background-color:  #1b6575;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    justify-self: center;
    color: white;
}

.secondarycontainer > div {
    background: #1c3352;         
    border: 2px solid #042c38;    
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
}

.characters, .Gallery, .world { 
    position: relative;
    display: inline-block;
    margin: 2px;
    transition: transform 0.3s;
}

 .characters img  {
    width: 270px;
}

 .world img {
    width: 281px;
}
 .Gallery img {
    width: 276px;
 }

 .characters img:hover, .world img:hover, .Gallery img:hover {
    transform: scale(1.03);
    transition:0.8s;
 }

 #page {
    position: absolute;
    width: 90%;
    bottom: 2px;             
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 12px;
    border-radius: 15px;
    color: white;
    font-size: 1.2rem;
    background-color: rgba(25, 51, 107, 0.616); /* transparent background */
    transition: background-color 0.2s ease, transform 0.2s ease;
 }

 #page:hover {
    background-color: rgba(25, 51, 107, 0.856); /* less transparent on hover */
    transform: translateX(-50%) scale(1.05); /* slight scale up on hover */
 }

 .charactersection {
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    margin-top: 1px;
    text-align: center;
    background-color: #1c3352;
}

.characterstuff {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;      
    padding: 20px;
}

.characterstuff > div {
    background: #254369;         
    border: 2px solid #042c38;    
    border-radius: 15px;
    padding: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.characterstuff h3 {
    background: #042c38;
    color: #ff9417;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    letter-spacing: 2px;
    padding: 10px;
    width: 94%;
    margin: 0;
    border-radius: 15px
}

.characterstuff a {
    text-decoration: none;
    color: #ff9417;
}

.searchbar {
    margin: 20px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    min-width: 300px;
    border-style: solid;
    border-radius: 15px;
    border-color: #1c2e42;
    background-color:#1c2e42;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px;
}
input{
    flex: 1;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background: #ffe48b;
    color:#5443ee;
}