body {
    background-image: url("assets/BBBACKGROUND.webp");
    background-size: cover;
    background-attachment: fixed;
}

.container {
    border-color: #00055a;
    border-radius: 15px;
    border-style: solid;
    background-color:  teal;
    margin: 100px;
    padding-top: 0;
}
.welcomebox {
    border-color: #000bd3;
    background-color:rgba(150, 155, 255, 0.8);
    margin: 20px;
    padding: 10px;
    border-style: solid;
    text-align: center;
}
.charactergrid {
    border: #38042b;
    background:#921673;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#characterpage > a:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
<<<<<<< HEAD

.navBar {
    list-style-type: none;
    margin: 20px;
    margin-top: 0;
    padding: 0;
    position: sticky;
    top: 0;
    background-color:aquamarine;
    border: #38042b;
}