body {
    background-image: url("assets/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: #0c0357;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Georgia', serif;
    text-decoration: overline underline;
    color: #fdd44e;
}

.container {
    max-width: 870px;
    margin: auto;
    border-color: #1c3352;
    border-radius: 15px;
    border-style: solid;
    background-color:  #223c60;
    padding-top: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.welcomebox {
    border-color: #1b6575;
    background-color: #fff8db;
    margin: 20px;
    margin-top: 20px;
    padding: 10px;
    border-style: solid;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.charactergrid {
    border: #042c38;
    background:#3d8996;
    margin: 20px;
    padding: 10px;
    justify-content: center;
    gap: 30px;
    display: flex;
    flex: 1 1 300px;
    flex-direction: column;
}

#quote {
    font-style: italic;
    font: 30px 'Georgia', serif;
    text-align: center; 
    color:darkorange;
    margin: 20px;

}
.welcomebox h2 { 
    background: #3693af;
    background-position: top;
    padding:0px;
    margin: -20px -13px 40px -13px;
    text-align: center;
    margin-bottom:20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-style: solid;
    border-color: #1b6575;
    font-family: 'Georgia', serif;
}
.container img {
    width: 95%;
    display: block;
    border-radius: 30px;
    align-self: center;
 }
 nav {
    width: 100%;
    padding: 1rem 5%;
    background: rgba(36, 37, 119, 0.05);
    border-bottom: 1px solid rgba(36, 37, 119, 0.1);
    margin-bottom: 2rem;
 }

 .loogo {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(255, 214, 30, 0.952);
    letter-spacing: 2px;
 }
@media screen and (max-width:400px) {
    .container { 
        flex: 100%;
    }
}