body {
    background-image: url("assets/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: #0c0357;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Georgia', serif;
    text-decoration: overline underline;
    color: #fdd44e;
}

.container {
    border-color: #1c3352;
    border-radius: 15px;
    border-style: solid;
    background-color:  #223c60;
    padding-top: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.welcomebox {
    border-color: #1b6575;
    background-color: #fff8db;
    margin: 20px;
    margin-top: 20px;
    padding: 10px;
    border-style: solid;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.charactergrid {
    border: #042c38;
    background:#3d8996;
    margin: 20px;
    padding: 10px;
    justify-content: center;
    gap: 30px;
     flex: 33.3%;
}

#characterpage > a:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navBar {
    list-style-type: none;
    margin: 250px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    position: sticky;
    top: 0;
    background-color:rgb(255, 209, 60, 0.8);
}
#quote {
    font-style: italic;
    font: 30px 'Georgia', serif;
    text-align: center; 
    color:darkorange;
    margin: 20px;

}
.welcomebox h2 { 
    background: #3693af;
    background-position: top;
    padding:0px;
    margin: -20px -13px 40px -13px;
    text-align: center;
    margin-bottom:20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-style: solid;
    border-color: #1b6575;
    font-family: 'Georgia', serif;
}
.container img {
    width: 790px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    flex: 50%;
    }

@media screen and (max-width:240px) {
    .container { 
        flex: 100%;
    }
    .container img {
        flex: 100%;
    }
    .charactergrid {
        flex: 100%;
    }
}