body {
    background-image: url("assets/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: #0c0357;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Georgia', serif;
    text-decoration: overline underline;
    color: #fdd44e;
}

.container {
    max-width: 870px;
    margin: auto;
    border-color: #1c3352;
    border-radius: 15px;
    border-style: solid;
    background-color:  #223c60;
    padding-top: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.welcomebox {
    border-color: #1b6575;
    background-color: #fff8db;
    margin: 20px;
    margin-top: 20px;
    max-width: 450px;
    min-height: 500px;
    padding: 10px;
    border-style: solid;
    text-align: left;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.charactergrid {
    border: #042c38;
    background:#3d8996;
    margin: 20px;
    padding: 10px;
    justify-content: center;
    gap: 30px;
    display: flex;
    flex: 1 1 300px;
    flex-direction: column;
}

#characterpage > a:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navBar {
    list-style-type: none;
    margin: 250px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    position: sticky;
    top: 0;
    background-color:rgb(255, 209, 60, 0.8);
}
#quote {
    font-style: italic;
    font: 30px 'Papyrus', sans-serif;
    text-align: center; 
    color:darkorange;
    text-decoration: italic;
    margin: 20px;

}
.welcomebox h2 { 
    background: #3693af;
    background-position: top;
    padding:0px;
    margin: -20px -13px 40px -13px;
    text-align: center;
    margin-bottom:20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-style: solid;
    border-color: #1b6575;
    font-family: 'Georgia', sans-serif;
}
.container img {
    width: 95%;
    display: block;
    border-radius: 30px;
    align-self: center;
 }

 li a{
    transition: background-color 0.2s ease;  
    padding: 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    }
 li a:hover{
    background-color: #eaf2ff;
    padding: 20px;
    }

li {
    float: left;
    display:inline;
    }
        
ul {
    text-align: left;
    color: white
        }

a:link{
    color:#f18b63;
            background-color: transparent;
            text-decoration: none;
        }

a:visited{
    color:hsla(4, 80%, 80%, 0.5);
    background-color: transparent;
    text-decoration: none;
        }

a:hover{
    color:#fa552c;
    background-color: transparent;
    text-decoration: underline overline wavy #fa552c;
        }


@media screen and (max-width:400px) {
    .container { 
        flex: 100%;
    }
}